<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Star Wars Characters</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Personajes de Star Wars</h1>
    <input type="text" id="searchId" placeholder="Buscar por ID">
    <button id="searchIdBtn">Buscar por ID</button>
    <input type="text" id="searchName" placeholder="Buscar por Nombre">
    <button id="searchNameBtn">Buscar por Nombre</button>
    <button id="viewAllBtn">Ver Todos</button>
    <h2>Lista de personajes</h2>
    <table id="charactersTable" class=“responsive-table”>
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Altura</th>
                <th>Color de Cabello</th>
                <th>Color de Piel</th>
                <th>Color de Ojos</th>
                <th>Año de Nacimiento</th>
                <th>Género</th>
                <th>Especie</th>
                <th>Mundo de Origen</th>
            </tr>
        </thead>
        <tbody>
            
        </tbody>
    </table>
    

    <script src="scripts.js"></script>
</body>
</html>
