
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: #f0f0f0;
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

input {
    padding: 10px;
    margin-right: 10px;
    width: 100%;
    max-width: 300px;
    box-sizing: border-box;
}

button {
    padding: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: white;
}

thead {
    background-color: #007BFF;
    color: white;
}

th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
}


@media screen and (max-width: 768px) {
    
    thead {
        display: none;
    }

    
    tbody, tr {
        display: block;
        width: 100%;
    }

    td {
        display: flex;
        justify-content: space-between;
        padding: 10px;
        border: 1px solid #ddd;
        width: 100%;
        box-sizing: border-box;
    }

    
    td::before {
        content: attr(data-label);
        font-weight: bold;
        width: 120px; 
        flex-shrink: 0;
    }
}
